.home {
    background: #eceff4;
    width: 100%;
  
    .navigation {
      width: 100%;
      background: cornflowerblue;
      height: 75px;
  
      .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .left {
          height: 75px;
          display: flex;
          align-items: center;
  
          svg {
            margin-right: 57.62px;
            cursor: pointer;
          }
        }
  
        .right {
          font-family: "Source Sans Pro", sans-serif;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: #ffffff;
          font-size: 0.8rem;
  
          .user {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
  
            .panel {
              padding: 20px;
              color: #000000;
              background: #ffffff;
              position: absolute;
              border-radius: 4px;
              width: 100%;
              top: 30px;
              box-shadow: 0px 0px 7px rgba(1, 12, 69, 0.15);
  
              ul {
                list-style: none;
                padding: 0;
                margin: 0 auto;
              }
            }
  
            .name {
              font-weight: bold;
              padding-right: 5px;
            }
  
            .title {
              font-style: italic;
              padding-right: 5px;
            }
          }
  
          .language {
            color: white;
            cursor: pointer;
  
            span {
              padding-right: 12px;
            }
          }
        }
      }
    }
  
    .menu {
      width: 265px;
      background: rgb(63, 123, 233);
      color: #ffffff;
      height: calc(100vh - 75px);
      overflow-y: auto;
      flex-wrap: nowrap;
  
      &::-webkit-scrollbar {
        width: 0;
      }
  
      .nav-link {
        padding: 18px;
        font-size: 0.8rem;
        letter-spacing: 0.1px;
        cursor: pointer;
  
        &.active {
          background: rgba(35, 47, 107, 0.54);
        }
  
        &:hover {
          background: rgba(35, 47, 107, 0.54);
        }
        .notif{
          margin-left: 5%;
          padding: 5px 7px 5px 7px;
          border-radius: 30%;
          background: blue;
        }
      }
  
      .children {
        background: rgb(213, 221, 233);
        font-size: 0.8rem;
        color: #010c45;
        padding: 20px 35px;
  
        .nav-link {
          padding: 2.5px;
  
          &:hover {
            background: rgb(213, 221, 233);
            margin-left: -15px;
          }
  
          &.active {
            background: rgb(213, 221, 233);
            font-weight: bold;
            margin-left: -15px;
          }
        }
      }
    }
  
    .content {
      margin: 0 20px;
      height: 90vh;
  
      .page {
        width: 100%;
        height: 84%;
        overflow: auto;
        background: #ffffff;
        box-shadow: 0px 0px 7px rgba(1, 12, 69, 0.15);
        border-radius: 4px;
        padding: 10px 20px 20px;
  
        // &::-webkit-scrollbar {
        //   width: 0;
        // }
        &::-webkit-scrollbar {
          // display: visible;
          -webkit-appearance: none;
          width: 7px;
        }
  
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, .5);
            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
      }
  
      .tabs {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 0.8rem;
        margin: 20px 0 30px;
        cursor: pointer;
        color: #979797;
  
        .nav-link {
          background: #eceff4;
          box-shadow: 0px 2px 4px rgba(35, 47, 107, 0.25);
          border-radius: 4px 4px 0px 0px;
          min-width: 100px;
  
          svg {
            fill: #b9b9b9;
  
            &:hover {
              fill: red;
            }
          }
  
          &.active {
            background: #006fba;
            color: #ffffff;
  
            svg {
              fill: #ffffff;
  
              &:hover {
                fill: red;
              }
            }
          }
        }
      }
  
      .breadcrumb {
        background: #ffffff;
        color: #757575;
        font-size: 1.2rem;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 44px;
  
        .breadcrumb-item + .breadcrumb-item::before {
          content: ">";
          padding: 0 22.6px;
        }
  
        .breadcrumb-item {
          cursor: pointer;
  
          &.active {
            color: #006fba;
            font-weight: bold;
            cursor: default;
          }
        }
      }
    }
  }
  