.login {
    display: flex;
    height: 100vh;
    padding: 0;
    justify-content: space-between;
    background-color: white ;

    .content {
        background-color: cornflowerblue;
        align-self: center;
        height: 100%;
        padding: 0 50px;
        border-radius: 0 0 15rem 15rem;

        .form {
            .header {
                margin-top: 5%;
            }

            form {
                width: 100%;

                .fa{
                    line-height: unset !important;
                }

                button {
                    width: 100%;
                    height: 40px;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    .side {
        padding: 0;
        height: 100%;
        margin: 0;
    }
}